<form class="box">
  <div class="form-group cpf">
    <label for="cpfLabel" class="cpfLabel">Faca login e desfrute de todos os seus beneficios</label>
    <input type="text" class="form-control cpf" id="cpfLabel" aria-describedby="emailHelp" placeholder="Cpf" autocomplete="off">
    <!-- <small id="emailHelp" class="form-text text-muted">Digite o cpf que voce<é/small> -->
  </div>
  <div class="form-group password">
    <!-- <label for="passwordLabel" class="passwordLabel">Senha</label> -->
    <input type="password" class="form-control password" id="passwordLabel" placeholder="Senha" autocomplete="off">
  </div>
  <div class="form-group form-check">
    <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1"> -->
    <!-- <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
  </div>
  <button type="submit" class="btn btn-outline-secondary btn-block custom-buttom">Entrar</button>
</form>
