<div class="container home">
  <div class="row">
    <div class="col-12 col-md-8 custom-positon-top">
      <h1>Bem vindo ao <br> internet banking</h1>
      <p>Um banco fiel aos seus objetivos</p>
      <!-- Photo on <a href="https://visualhunt.com/re4/360af9d8">Visualhunt</a> -->
    </div>
    <div class="col-12 col-md-4 custom-positon-form">
      <app-form-login></app-form-login>
    </div>
  </div>
  <footer>
    <span>Todos os direitos reservados a internet banking</span>
  </footer>
</div>
