.home {
    h1,
    p {
        color: #fff;
        text-shadow: 2px 2px #333;
        padding: 10px;
        font-family: 'Domine', serif;
    }

    p {
        font-size: 20px;

    }

    .custom-positon-form {
        position: 100px;
    }

    .custom-positon-top,
    .custom-positon-form {
        position: relative;
        top: 150px;

        @media screen and(min-width: 768px) {
            top: 300px;
        }
    }

    footer {
        span {
            position: absolute;
            bottom: 14px;
            color: #fff;

            font-size: 15px;
            text-shadow: 2px 2px #333;
            left: 8%;

            @media screen and(min-width: 768px) {
                left: 38%;
            }
        }
    }
}
